.array-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.array-bar {
  width: 15px;
  display: inline-block;
  margin: 0 2px;
}

.score{
  position: relative;
  margin: 10px;
}
