ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

li {
  float: left;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #102ccf;
  color: #fbfcdc;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 800;
}

li:last-child {
  border-right: none;
}

li:hover:not(.active) {
  background-color: #3dec71;
  color:#05104b
}

.active {
  background-color: #4CAF50;
}
